<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Gerenciador de Grupos</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span>Admin</span>
      </li>
      <li class="breadcrumb-item active">
        <strong>Grupos</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row wrapper wrapper-content">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-info-circle"></i> Lista de Grupos
      </div>
      <div class="panel-body">
        <app-group-menu></app-group-menu>
        <app-group-table></app-group-table>
      </div>

    </div>
  </div>

</div>
