<form id="form" action="#" class="wizard-big">
  <select class="form-control dual_select" multiple>
    <option value="United States">United States</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="Australia">Australia</option>
    <option selected value="Austria">Austria</option>
    <option selected value="Bahamas">Bahamas</option>
    <option value="Barbados">Barbados</option>
    <option value="Belgium">Belgium</option>
    <option value="Bermuda">Bermuda</option>
    <option value="Brazil">Brazil</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Cameroon">Cameroon</option>
    <option value="Canada">Canada</option>
  </select>
</form>
