<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element text-center" dropdown>
          <img alt="image" class="img-circle img-avatar" src="assets/images/profile_small.jpg">
          <a class="dropdown-toggle" dropdownToggle>
            <span class="block m-t-xs font-bold"> {{ this.varGlobal.USER_NAME }}</span>
            <span class="text-muted text-xs block">{{ this.varGlobal.USER_GROUP }} <b class="caret"></b> </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs" *dropdownMenu>
            <li><a class="dropdown-item" [routerLink]="['/profile']">Profile</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element img-avatar-full">

        </div>
      </li>

      <li *ngFor="let menuItem of mainMenu" [ngClass]="{active: activeRoute(menuItem.slug)}">
        <a *ngIf="!menuItem.children[0]" [routerLink]="['/' + menuItem.slug]">
          <i class="fa {{menuItem.icon}}"></i> <span class="nav-label">{{ menuItem.title }}</span>
        </a>
        <a *ngIf="menuItem.children[0]" href="javascript:void(0)">
          <i class="fa {{menuItem.icon}}"></i> <span class="nav-label">{{ menuItem.title }}</span>
          <span class="fa arrow"></span>
        </a>
        <ul *ngIf="menuItem.children[0]" class="nav nav-second-level collapse" [ngClass]="{in: activeRoute(menuItem.slug)}">
          <li *ngFor="let children of menuItem.children" [ngClass]="{active: activeRoute(children.slug)}">
            <a [routerLink]="['/' + menuItem.slug + '/' + children.slug]">{{ children.title }}</a>
          </li>
        </ul>
      </li>

    </ul>

  </div>
</nav>
