<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element text-center" dropdown>
          <img alt="image" class="img-circle img-avatar" src="assets/images/profile_small.jpg">
          <a dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">{{ this.varGlobal.USER_NAME }}</strong> </span>
            <span class="text-muted text-xs block">{{ this.varGlobal.USER_GROUP }} <b class="caret"></b> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
            <li><a [routerLink]="['/profile']">Profile</a></li>
            <li class="divider"></li>
            <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element img-avatar-full">

        </div>
      </li>
      <li [ngClass]="{active: activeRoute('dashboard')}">
        <a [routerLink]="['/dashboard']"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('admin')}">
        <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">Admin</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('admin')}">
          <li [ngClass]="{active: activeRoute('users')}"><a [routerLink]="['/admin/users']">Usuários</a></li>
          <li [ngClass]="{active: activeRoute('groups')}"><a [routerLink]="['/admin/groups']">Grupos</a></li>
          <li [ngClass]="{active: activeRoute('roles')}"><a [routerLink]="['/admin/roles']">Funções</a></li>
          <li [ngClass]="{active: activeRoute('scopes')}"><a [routerLink]="['/admin/scopes']">Extenções</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
