.tabs-container .tabs-left > .nav-tabs > li > a, .tabs-container .tabs-right > .nav-tabs > li > a {
    min-width: 67px !important
}

.tabs-container .tabs-left .panel-body {
    width: 85%;
    margin-left: 15%;
    margin-bottom: 15px;
}