<button (click)="resetForm()" class="btn btn-primary form-control" data-toggle="modal" data-target="#registerUser"><i class="fa fa-user-circle"></i>
  Cadastrar Usuário</button>


<div class="modal fade" id="registerUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cadastro de Usuário</h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
      </div>
      <form class="col-xs-12" method="get" [formGroup]="formulario" (ngSubmit)="onSubmit()" name="formEditUser" autocomplete="off" >
        <div class="modal-body">

          <div class="row">

            <div class="form-group col-sm-7">
              <label [ngClass]="emailCss" class="control-label">E-mail / Login</label>
              <i *ngIf="emailErrorMsg" class="fa fa-warning alertIconPopover animated tada" popoverClass="custom-alerts" ngbPopover="{{ emailErrorMsg }}" triggers="mouseenter:mouseleave"></i>
             <input [ngClass]="emailCss" formControlName="email" type="text" class="form-control">
            </div>

            <div class="form-group col-sm-5">
              <label [ngClass]="passwordCss" class="control-label">Senha</label>
              <i *ngIf="passwordErrorMsg" class="fa fa-warning alertIconPopover animated tada" popoverClass="custom-alerts" ngbPopover="{{ passwordErrorMsg }}" triggers="mouseenter:mouseleave"></i>
              <input [ngClass]="passwordCss" formControlName="password" type="password" class="form-control">
            </div>

            <div class="form-group col-sm-6">
              <label [ngClass]="nameCss" class="control-label">Nome de Exibição</label>
              <i *ngIf="nameErrorMsg" class="fa fa-warning alertIconPopover animated tada" popoverClass="custom-alerts" ngbPopover="{{ nameErrorMsg }}" triggers="mouseenter:mouseleave"></i>
              <input [ngClass]="nameCss" formControlName="name" type="text" class="form-control">
            </div>

            <div class="form-group col-sm-6">
              <label [ngClass]="groupCss" class="control-label">Grupo</label>
              <i *ngIf="groupErrorMsg" class="fa fa-warning alertIconPopover animated tada" popoverClass="custom-alerts" ngbPopover="{{ groupErrorMsg }}" triggers="mouseenter:mouseleave"></i>
              <select [ngClass]="groupCss" class="form-control m-b" formControlName="group">
                  <option value="" selected disabled hidden>Selecione um grupo</option>
                  <option *ngFor="let group of groups" value="{{ group.id }}">{{ group.title }}</option>
                </select>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" (click)="resetForm()">Cancelar</button>
          <button (click)="resetImputError()" type="submit" class="btn btn-primary">Cadastrar</button>
        </div>

      </form>
    </div>
  </div>
</div>
