.modal-new-user-email{
  width: 350px;
  margin: 0 auto 23px auto;
}

.modal-new-user-name{
  width: 350px;
  margin: 0 auto 23px auto;
}

.modal-new-user-pass{
  width: 350px;
  margin: 0 auto 23px auto;
}

.modal-new-user-group{
  width: 350px;
  margin: 0 auto;
}

.modal-alert-center{
  margin: 0 auto;
  min-width: 275px;
}


.alertIconPopover{
  margin-left: 10px;
  color: darkred;
  width: 16px;
}

.custom-alerts {
  background-color: rgba(255, 0, 0, 0.5);
  font-size: 125%;
}
.custom-alerts .arrow::after {
  background-color: rgba(255, 0, 0, 0.5);
}
